body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

h4 {
    margin: 0;
    padding: 0;
}

div {
    font-size: 14pt;
}

.App {
    display: grid;
    margin-left: 15rem; //to accommodate for message box and buttons
    // position: relative;
    orientation: vertical;
    // justify-content: center;
    width: 20rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 1rem;
    .ul-container {
        // App: 20rem, ul-container: 10rem+2rem padding, margin-left: (20-12)/2
        margin: 0 0 4px 4rem;
        text-align: left;
    }
}

.message-buttons-container {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    width: 13.8rem;
    min-height: 11rem;
    max-height: 20rem;
    overflow-y: auto;
}

.button {
    width: 11rem;
    font-size: 11pt;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: cornsilk;
    padding: 2px;
    margin: 0 0 2px 5px;
    text-align: center;
    cursor: default;
    &:disabled,
    &[disabled] {
        background-color: gray;
    }
}

.navigation-container {
    width: 10rem;
    margin-left: 5rem; // app: 20rem; navigation-container: 5.5rem; margin-left: (20-5.5)/2
}

.navigation-button {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    background-color: navy;
    cursor: default;
    margin-right: 5px;
    &:disabled {
        background-color: gray;
    }
}

.page-number,
.page-number-label {
    display: inline-block;
    width: 1rem;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 12pt;
    background-color: rgb(165, 238, 165);
}

.page-number-label {
    border: none;
    width: 3rem;
    color: navy;
    font-style: italic;
    background-color: transparent;
}

.message-box {
    width: 13rem;
    padding-left: 8px;
    background-color: cornsilk;
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 6rem;
    max-height: 20rem;
    overflow-y: auto;
    font-size: 12pt;
    color: navy;
}


/* .navigation-button:first-child {
  margin-left: 2rem;
} */