html {
    font-size: 10px;
    box-sizing: border-box;
}

body,
#root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body,
input,
select,
button,
textarea {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}